#container {
    display: grid;
}

#header {
    background: blue;
    grid-row: 1;
    height: 30vh;
}

#box {
    grid-row: 2;
    background-color: red;
    height: 30vh;
}

#footer {
    grid-row: 3;
    background: green;
    height: 30vh;
}
