body{
    background-color: aliceblue !important;
    margin: 0;
}

#container {
    width: 100%;
    height: 100%;
}

#header {
    position: relative;
    text-align: center;
}

#inventory{
    text-align: center;
    margin: 10px;
}
#cash {
    position: relative;
    text-align: center;
}

#animBox {
    height: 70vh;
    position: relative;
    background-color: #f0f8ff;
    text-align: center;
}

#footer {
    position: relative;
    text-align: center;
}

#desc {
    height: 10%;
}

#item {
    height: 80%;
}

#options {
    height: 10%;
}

#keep, #sell {
    margin: 10px;
}

.modal-body p {
    text-align: center;
}

#collection .modal-footer {  
    justify-content: space-between;  
}