body{
    margin: 0;
}

#container {
    width: 100%;
    height: 100%;
}

#header {
    background-color: blue;
    height: 20vh;
    position: relative;
}

#animHeader {
    height: 10vh;
}

#box {
    display: block;
    background-color: red;
    height: 60vh;
    position: relative;
}

#animBox {
    height: 20vh;
}

#footer {
    background-color: green;
    height: 20vh;
    position: relative;
}

#animFooter {
    height: 10vh;
}
